/* ESTILO GERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fdcfca;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 500;
    background-color:#fa7f72;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color:#000000;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #fa7f72;
}

h2.Titulo2{
    color:#000000;
    font-size: 38px;
    text-align: center;
}

h2.Titulo2 span{
    color: #fa7f72;
}

h2.Maquiagens{
    color:#000000;
    font-size: 38px;
    text-align: center;
}

h2.Maquiagens span{
    color: #fa7f72;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #e100ff;
    transform: scale(1.05);
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #fa7f72;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}
/* ESTILO DO CABEÇALHO*/
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #000000;
    text-decoration: none;
    display:inline-block;
    transition: .2s;

}
header a:hover{
    color: #e100ff;
    transform: scale(1.05);

}
header nav ul{
    list-style-type: none;

}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}



.btn-contato button:hover{
    box-shadow: 0px 0px 8px #e100ff;
    transform: scale(1.05);
}

/* ESTILO TOPO DO SITE*/

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #000000 ;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color:#fa7f72;
}

.topo-do-site .txt-topo-site p{
    color:#fa7f72;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES*/
section.Especialidades{
    padding: 40px 4%;
}

section.Especialidades .flex{
    gap: 60px;
}

.Especialidades .especialidades-box{
    color: #000000;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.Especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #e100ff;
}

.Especialidades .especialidades-box i{
    font-size: 48px;
    color: #fa7f72;
}

.Especialidades .especialidades-box h3{
    font-size:28px;
    margin: 15px 0;
}

/* ESTILO DAS SOBRANCELHAS*/

section.sobrancelhas{
    padding: 40px 4%;
}
section.sobrancelhas .flex{
    gap: 60px;
}
.sobrancelhas .sobrancelhas-box{
    color: #000000;
    padding: 70px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
    
}
.sobrancelhas .sobrancelhas-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #e100ff;
}

.sobrancelhas .sobrancelhas-box i.{
    font-size: 48px;
    color: #fa7f72;
}

.sobrancelhas .sobrancelhas-box p{
    font-size: 18px;
    margin: 15px 0;
}

/* ESTILO DAS Maquiagens*/

section.maquiagens{
    padding: 40px 4%;
}

section.maquiagens .flex{
    gap: 60px;
}

.maquiagens .maquiagens-box{
    color: #000000;
    padding: 70px;
    margin-top: 45px;
    border-radius: 20px;
    transition: .2s;
}

.maquiagens .maquiagens-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px  #e100ff;
}

.maquiagens .maquiagens-box i{
    font-size: 48px;
    color: #fa7f72;
}

.maquiagens .maquiagens-box p{
    font-size: 18px;
    margin: 15px 0;
}

/* ESTILO DO Formulario DE CONTATO*/

section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea{
    width: 100%;
    background-color: #fa80723b;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fa7f72;
    font-size: 18px;
}

form input::placeholder{
    color: #fa7f72;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color:#fa7f72;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPÉ*/

footer{
    padding: 40px 4%;
    box-shadow: 0 0 20px 10px #e100ff22;
}
footer .liner-footer{
    padding: 20px 0;
   
}

footer .flex{
    justify-content: space-between;
}

.borda{
    border-top: 2px solid #e100ff2a;
}

footer .liner-footer p i{
    color:#fa7f72;
    font-size: 22px;
}

footer .liner-footer p a{
    color: #000000;
}

@media screen and (max-width: 1200px){
    /* CLASSES GERAIS */
    .flex{
        flex-direction: column;
    }

    h2.Titulo2{
        font-size: 30px;
        line: height 20px; ;
    }
    
    .topo-do-site .flex{
        flex-direction: column-reverse;
    }
    /* CABEÇALHO */
    .menu-desktop, .btn-contato{
        display: none;
    }
}

/* TOPO DO SITE */ 
section.topo-do-site .flex{
    gap: 40px;
}

select.topo-do-site{
    padding: 20px 8%;
}
.topo-do-site h1{
    font-size: 32px;
    
}
.topo-do-site .img-topo-site img{
    width: 100%;
}

    /* ESTILO DAS ESPECIALIDADES*/
        section.Especialidades{
            padding: 40px 8%;
        }

    /* ESTILO DAS SOBRANCELHAS*/

    section.sobrancelhas{
        padding: 40px 8%;
    }

    /* ESTILO DAS Maquiagens*/

    section.maquiagens{
        padding: 40px 8%;
    }
    